:root {
    --bg-dark: #000000;
    --pink: #ff4ff6;
    --text-light: #ffffff;
}

body.dark {
    background: var(--bg-dark);
    color: var(--text-light);
    font-family: Arial, sans-serif;
}

/* NAVBAR */
header {
    background: #0a0a0a;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 28px;
    color: var(--pink);
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-light);
    font-weight: bold;
}

.active {
    color: var(--pink);
}

/* HOME */
.home {
    height: 90vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.home span {
    color: var(--pink);
}

.btn {
    background: var(--pink);
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* SECTIONS */
.page-section {
    padding: 50px;
    text-align: center;
}

.heading {
    font-size: 36px;
    margin-bottom: 30px;
    color: var(--pink);
}

/* SKILLS */
.skill-box {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    background: #111;
    padding: 12px 25px;
    border-radius: 5px;
    color: var(--pink);
    border: 1px solid var(--pink);
}

/* PROJECTS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--pink);
}

/* CONTACT */
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 12px;
    background: #111;
    color: #fff;
    border: 1px solid var(--pink);
    border-radius: 5px;
}
